fieldset {
  margin: 20px auto 0;
  padding: 10px; 
  max-width: 400px;
  border: 1px solid #4B0082;
}



.delete button{
  padding: 10px;
  border: 1px solid #fff;
  border-radius: 5px;
  background: #B22222 ;
  color: #fff;
  font-size: 14px;
  font-weight: bold;
  margin-top: 10px;
}

.delete button:hover {
  border: 1px solid #B22222; 
  color: #B22222 ;
  background: #fff ;
}

.delete  a {
  height: 30px;
  border-radius: 5px;
  border: 1px solid #fff; 
  background: #008000 ; 
  margin-top: 5px;
  margin-left: 10px;
  color: #fff;
  font-weight: bold;
  font-size: 16px;
  text-decoration: none;
  display: inline-flex;
  justify-content: center;
  align-items: center;
  padding: 3px;
}

.delete a:hover {
  border: 1px solid #008000; 
  color: #008000 ;
  background: #fff ;
}



