.selectOne {
  margin: 20px auto 0;
  padding: 10px; 
  max-width: 400px;
  border: 1px solid #4B0082;
}


.selectOne  a {
  height: 30px;
  border-radius: 5px;
  border: 1px solid #fff; 
  background: #008000 ; 
  margin-top: 5px;
  color: #fff;
  font-weight: bold;
  font-size: 16px;
  text-decoration: none;
  display: flex;
  justify-content: center;
  align-items: center;
}

.selectOne a:hover {
  border: 1px solid #008000; 
  color: #008000 ;
  background: #fff ;
}

.selectOne p {
  font-size: 14px;
  color:#1C1C1C ;
  margin-top: 5px;
  line-height: 25px;
}

